* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: fff;
  font-family: sans-serif;
}

#navbar {
  width: 100%;
  height: initial;
  padding: 20px 0;
  background-color: black;
  opacity: 70%;
  position: static;
  top: 0;
  left: 0;
  overflow: clip;
}

#navbar a {
  text-decoration: none;
  color: white;
  padding: 50px;
  font-size: 16px;
  margin-right: -6px;
}

#navbar a:hover {
  background-color: #444;
}

#navbar a:active {
  background-color: #666;
}

main {
  line-height: 22px;
}

section {
  display: flex;
  padding: 30px;
  margin-top: 30px;
}

#welcome-section {
  flex-direction: row;
  justify-content: center;
}

#profile {
  width: 250px;
}

#welcome-section div {
  width: 300px;
  margin-left: 5vw;
  margin-top: 10px;
}

#welcome-section ul {
  margin: 20px;
}
